

<nav class="nav-menu">
    <a href="" class="nav-item active">
        <i class="fas fa-chart-bar"></i>
        <span>แดชบอร์ด</span>
    </a>
    <a href="orders" class="nav-item active">
        <i class="fas fa-chart-bar"></i>
        <span>ออเด้อ</span>
    </a>
    <a href="inventory" class="nav-item">
        <i class="fas fa-boxes"></i>
        <span>สต๊อกสินค้า</span>
    </a>
    <a href="sales" class="nav-item">
        <i class="fas fa-shopping-cart"></i>
        <span>สินค้า</span>
    </a>
    <a href="crm" class="nav-item">
        <i class="fas fa-users"></i>
        <span>CRM</span>
    </a>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}